version: "3.9"
services:
  db:
    image: mongo:5.0
    container_name: mongodb
    restart: always
    volumes:
      - mongo-data:/data/db
  app:
    build:
      context: ./pacman-master
      target: builder
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - MONGO_SERVICE_HOST=db
      - MONGO_DATABASE=pacman
      - MY_MONGO_PORT=27017

volumes:
  mongo-data: {}
