apiVersion: v1
kind: Service
metadata:
  creationTimestamp: "2026-01-14T11:40:56Z"
  labels:
    app: mealie
  name: mealie
  namespace: mealie
spec:
  ports:
  - port: 9000
    protocol: TCP
    targetPort: 9000
  selector:
    app: mealie
  type: LoadBalancer
